table.collector-gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    border-color: #666666;
    border-collapse: collapse;
}

th.collector-gridtable {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

td.collector-gridtable {
    word-break:break-all;
    border-width: 1px;
    padding: 5px;
    margin: 0px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

div.ammainpanel {
    text-align: left;
    padding-left: 12px;
}

div.rightbutton {
    text-align:right;
    margin: 7px;
}

span.amnostatus {
    
}

a.donwloadlink {
    margin: 12px;
    text-align: center;
}